*{
    margin: 0;
    padding: 0;
}

body{
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1900px;
    
    background-color: #E4F9F5;
    margin: 0 auto;
}
header{

}
.profile-image{
    width: 100px;
    height: 120px;
    border:3px solid white;
    padding:5px;
    float: left;
}
.header-info{
    float: left;
    padding:27px;
}
h1,h2,h3,h4,h5,h6{
    color: #119911;
}
.header-contact{
    float:right;
    padding:30px;
}
.header-contact a {
    text-decoration: none;
    color: green;
    font-weight: bold;
     

}
.header-contact a:hover{
    text-decoration: underline;
    color: blueviolet;

}
.div-clear{
    clear:both;
}
hr{
    border: solid black 3px;
    width: 99%;
    margin:10px auto ;
    border-bottom: none;
}

/*
personal section start
*/
#personal-section{

}
.content{

}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: left;
}
.common-hr{
    border:solid black;
    border-bottom: none;
    width: 99%;
    margin: 10px auto;
}
/*
education section start
*/
.edu-template-left{
    float: left;
    width: 30%;

}
.edu-template-mid{
    float: right;
    width: 30%;

}
.edu-template-right{
    float: right;
    width: 35%;

}
/*
footer start
*/
.bottom-container{
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
}
.bottom-container{
    text-decoration: none;
    
}
